In [22]:
import pandas as pd
import neo4j

In [23]:
# Created neo4j desktop dbms with password "senate"
driver = neo4j.GraphDatabase.driver(uri="bolt://localhost:7687", auth=("neo4j", "senate"))

# Got import dir from neo4j desktop browser
neo4j_import_dir = "/Users/aidankeogh/Library/Application Support/Neo4j Desktop/Application/relate-data/dbmss/dbms-dffef9db-3d5a-4ba6-aebc-aadc8b8f5988/import"

In [24]:

def run(query):
    data = []
    with driver.session() as session:
        result = session.run(query)
        for record in result:
            data.append(record.data())
    return pd.DataFrame(data)

In [25]:
run("""
MATCH (n)
DETACH DELETE n
""")

Empty DataFrame
Columns: []
Index: []

In [26]:
senators = pd.read_csv("all_senate_data.csv")

code_to_party = {100: "democrat", 200: "republican"}
def create_senator(senator):
    node_attrs = {
        "name": senator["Name"],
        "party": code_to_party.get(senator["party_code"], "other"),
        "state": senator["state_abbrev"],
        "icpsr": senator["icpsr"],
        "twitter": senator["Twitter_username"]
    }
    return pd.Series(node_attrs)
senator_nodes = senators.apply(create_senator, axis=1)
senator_nodes.to_csv(f"{neo4j_import_dir}/senator_nodes.csv")

In [27]:
# Load senators
run("""
LOAD CSV WITH HEADERS FROM "file:///senator_nodes.csv" as row
MERGE (s:Senator {name:row.name, party:row.party, state: row.state, twitter_username:row.twitter, id: toInteger(row.icpsr)})
""")

Empty DataFrame
Columns: []
Index: []

In [28]:
# Find senators who aren't republicans or democrats
run("""
MATCH (s: Senator {party: "other"})
RETURN s.name, s.party, s.id
""")

           s.name s.party   s.id
0      Angus King   other  41300
1  Bernie Sanders   other  29147

In [29]:

rollcalls = pd.read_csv("S117_rollcalls.csv")

def create_rollcall(rollcall):
    node_attrs = {
        "rollnumber": rollcall["rollnumber"],
        "date": rollcall["date"],
        "yea_count": rollcall["yea_count"],
        "nea_count": rollcall["nay_count"],
        "margin": abs(rollcall["yea_count"] - rollcall["nay_count"]),
        "result": rollcall["vote_result"],
        "desc": rollcall["vote_desc"],
        "bill_number": rollcall["bill_number"],
    }
    return pd.Series(node_attrs)

rollcall_nodes = rollcalls.apply(create_rollcall, axis=1)
rollcall_nodes["bill_number"] = rollcall_nodes["bill_number"].fillna("N/A")
rollcall_nodes.to_csv(f"{neo4j_import_dir}/rollcall_nodes.csv")

In [30]:

# Load all rollcalls
run("""
LOAD CSV WITH HEADERS FROM "file:///rollcall_nodes.csv" as row
WITH row WHERE row.desc is not null
MERGE (r:Rollcall {rollnumber: toInteger(row.rollnumber), date: row.date, yea_count: toInteger(row.yea_count), 
    nea_count: toInteger(row.nea_count), margin: toInteger(row.margin), result: row.result, desc: row.desc, bill_number: row.bill_number})
""")

Empty DataFrame
Columns: []
Index: []

In [31]:
# Get all rollcalls with over 90 yeas
run("""
MATCH (r: Rollcall)
WHERE r.yea_count > 90
RETURN r.rollnumber, r.desc, r.yea_count
ORDER by r.yea_count DESC
""")

,r.rollnumber,r.desc,r.yea_count
0,16,To establish a deficit-neutral reserve fund re...,100
1,21,To establish a deficit-neutral reserve fund re...,100
2,27,To establish a deficit-neutral reserve fund re...,100
3,35,To establish a deficit-neutral fund relating t...,100
4,272,A bill to deposit certain funds into the Crime...,100
5,659,A bill to suspend normal trade relations treat...,100
6,660,A bill to prohibit the importation of energy p...,100
7,19,To establish a deficit-neutral reserve fund re...,99
8,26,To establish a deficit-neutral reserve fund re...,99
9,316,To prohibit enactment of the Green New Deal.,99
10,318,To protect owners of generationally-owned busi...,99
11,328,To establish a deficit-neutral reserve fund re...,99
12,329,To establish a reserve fund relating to honori...,99
13,334,To establish a deficit-neutral reserve fund re...,99
14,22,To establish a deficit-neutral reserve fund re...,98
15,122,"Katherine C. Tai, of the District of Columbia,...",98
16,123,"Katherine C. Tai, of the District of Columbia,...",98
17,133,"David Turk, of Maryland, to be Deputy Secretar...",98
18,135,"David Turk, of Maryland, to be Deputy Secretar...",98
19,158,"Lisa O. Monaco, of the District of Columbia, t...",98
20,287,A bill making emergency supplemental appropria...,98
21,335,To prevent tax increases that would violate Pr...,98
22,30,To establish a deficit-neutral reserve fund re...,97
23,297,To include a payment and performance security ...,97
24,136,A bill to amend the Small Business Act and the...,96
25,301,To modify certain provisions relating to cyber...,96
26,72,"Cecilia Elena Rouse, of New Jersey, to be Chai...",95
27,292,To address the workforce needs of the telecomm...,95
28,294,To require the Secretary of Transportation to ...,95
29,306,To promote transparency by requiring the estab...,95
30,345,To establish a deficit-neutral reserve fund re...,95
31,572,"Douglas R. Bush, of Virginia, to be an Assista...",95
32,744,"Chavonda J. Jacobs-Young, of Georgia, to be Un...",95
33,810,Protocols to the North Atlantic Treaty of 1949...,95
34,71,"Cecilia Elena Rouse, of New Jersey, to be Chai...",94
35,154,"Lisa O. Monaco, of the District of Columbia, t...",94
36,165,A bill to facilitate the expedited review of C...,94
37,587,"David A. Honey, of Virginia, to be Deputy Unde...",94
38,717,"Christopher Joseph Lowman, of Virginia, to be ...",94
39,5,"Lloyd James Austin, of Georgia, to be Secretar...",93
40,109,To extend the authority for Federal contractor...,93
41,573,"Douglas R. Bush, of Virginia, to be an Assista...",93
42,585,"David A. Honey, of Virginia, to be Deputy Unde...",93
43,801,A bill to provide for improvements to the rive...,93
44,63,"Thomas J. Vilsack, of Iowa, to be Secretary of...",92
45,140,A bill to amend the Small Business Act and the...,92
46,151,A bill to facilitate the expedited review of C...,92
47,172,A bill to amend the Safe Drinking Water Act an...,92
48,251,A bill to authorize the Secretary of Agricultu...,92
49,463,"Michael Lee Connor, of Colorado, to be an Assi...",92
50,216,To ensure trade is conducted consistent with A...,91
51,265,"Donald Michael Remy, of Louisiana, to be Deput...",91
52,701,"Philip Nathan Jefferson, of North Carolina, to...",91

In [32]:
votes = pd.read_csv("S117_votes.csv")
vote_types = {
    1: "yea",
    6: "nay",
}
def create_vote_rel(vote):
    icpsr = vote["icpsr"]
    rollnumber = vote["rollnumber"]
    vote_type = vote_types.get(vote["cast_code"], "other")

    return pd.Series({
        "senator_id": int(icpsr),
        "rollnumber": int(rollnumber),
        "vote_type": vote_type
    })
vote_rels = votes.apply(create_vote_rel, axis=1)
vote_rels.to_csv(f"{neo4j_import_dir}/vote_relationships.csv")

In [33]:
# Load relationships between votes
run("""
LOAD CSV WITH HEADERS FROM "file:///vote_relationships.csv" as row
MATCH
  (s:Senator {id: toInteger(row.senator_id)}),
  (r:Rollcall {rollnumber: toInteger(row.rollnumber)})
MERGE (s)-[v:Voted {vote_type: row.vote_type}]->(r)
""")

Empty DataFrame
Columns: []
Index: []

In [34]:
# (TEST) Get all bills bernie sanders voted on
run("""
MATCH (s:Senator {name: "Bernie Sanders"})-[v:Voted {vote_type: "yea"}]-(r:Rollcall)
RETURN v.vote_type, r.desc, r.bill_number
""")

,v.vote_type,r.desc,r.bill_number
0,yea,"Michael D. Smith, of Virginia, to be Chief Exe...",PN715
1,yea,"Isobel Coleman, of New York, to be a Deputy Ad...",PN635
2,yea,A bill to authorize dedicated domestic terrori...,HR350
3,yea,"Andrew M. Luger, of Minnesota, to be United St...",PN1381
4,yea,"John Z. Lee, of Illinois, to be United States ...",PN1965
...,...,...,...
548,yea,A resolution to provide for related procedures...,SRES47
549,yea,A bill to amend the Voting Rights Act of 1965 ...,S4
550,yea,To modify the bill.,HR5376
551,yea,To establish a reserve fund relating to protec...,SCONRES14
552,yea,To provide for a safe return to in-person inst...,HR1319

In [35]:
tweets = pd.read_csv("direct_tweet_attribs.csv")
tweets["id"] = list(range(0, len(tweets)))
tweets.to_csv(f"{neo4j_import_dir}/tweets.csv")

In [36]:
# Load tweets as nodes
run("""
LOAD CSV WITH HEADERS FROM "file:///tweets.csv" as row
MERGE (t:Tweet {id: toInteger(row.id), text: row.Tweet, retweets: toInteger(row.Retweets), replies: toInteger(row.Replies),
    likes: toInteger(row.Likes), quotes: toInteger(row.Quotes)})
""")

Empty DataFrame
Columns: []
Index: []

In [37]:
# Load relationships between twitter account and tweet
run("""
LOAD CSV WITH HEADERS FROM "file:///tweets.csv" as row
MATCH
  (t:Tweet {id: toInteger(row.id)}),
  (s:Senator {twitter_username: row.TwitterID})
MERGE (s)-[tw:Tweeted]->(t)
""")

Empty DataFrame
Columns: []
Index: []

In [38]:
# (TEST) Get all of Bernie Sanders' tweets, ordered by likes
run("""
MATCH (s:Senator {name: "Bernie Sanders"})-[tw:Tweeted]->(t:Tweet)
RETURN t.text, t.likes
ORDER BY t.likes DESC
""")

                                               t.text  t.likes
0   Let's be clear. Eli Lilly should apologize for...   481505
1   The people of Brazil have voted for democracy,...   180877
2   Progressive candidates had a great election ni...    39733
3   What's going on in this country right now is c...    25880
4   I do not think the American people should be p...    22300
..                                                ...      ...
95  RT @MoveOn: Our tour with @BernieSanders and @...        0
96  RT @BernieSanders: OUR FUTURE IS NOW: Our job ...        0
97  RT @Culinary226: 2Ô∏è‚É£2Ô∏è‚É£6Ô∏è‚É£üëèüèæ2Ô∏è‚É£2Ô∏è‚É£6Ô∏è‚É£üëèüèø2Ô∏è‚É£2Ô∏è‚É£6...        0
98  RT @BernieSanders: LIVE FROM TEXAS: @GregCasar...        0
99         RT @MichelleVforTX: THANK YOU MCALLEN!! ‚ù§Ô∏è        0

[100 rows x 2 columns]

In [39]:
tweet_ners = pd.read_csv("direct_tweet_ners.csv")
tweet_ners["Text"] = tweet_ners["Text"].str.lower()

roll_ners = pd.read_csv("rollcall_ners.csv")
roll_ners["Text"] = roll_ners["Text"].str.lower()

tweet_ners.to_csv(f"{neo4j_import_dir}/tweet_ners.csv")
roll_ners.to_csv(f"{neo4j_import_dir}/roll_ners.csv")

In [40]:
# Load entities from tweets as nodes
run("""
LOAD CSV WITH HEADERS FROM "file:///tweet_ners.csv" as row
MERGE (e:Entity {type: row.NER_Lable, name: row.Text})
""")

# Load in entities of roll calls as additional nodes
run("""
LOAD CSV WITH HEADERS FROM "file:///roll_ners.csv" as row
MERGE (e:Entity {type: row.NER_Lable, name: row.Text})
""")

Empty DataFrame
Columns: []
Index: []

In [41]:
# Load relationships between tweets and named entities
run("""
LOAD CSV WITH HEADERS FROM "file:///tweet_ners.csv" as row
MATCH
  (t:Tweet {text: row.Tweet}),
  (e:Entity {name: row.Text})
MERGE (t)-[m:Mentions]->(e)
""")

Empty DataFrame
Columns: []
Index: []

In [42]:
# Load relationships between roll call descriptions and named entities
run("""
LOAD CSV WITH HEADERS FROM "file:///roll_ners.csv" as row
MATCH
  (t:Rollcall {desc: row.vote_desc}),
  (e:Entity {name: row.Text})
MERGE (t)-[m:Mentions]->(e)
""")

Empty DataFrame
Columns: []
Index: []

In [43]:
# (TEST) Get the organization entities rollcalls that Bernie Sanders voted for that are mentioned most in yea votes
run("""
MATCH (s:Senator {name: "Bernie Sanders"})-[v:Voted {vote_type: "yea"}]->(r:Rollcall)-[m:Mentions]->(e:Entity {type: "ORG"})
RETURN e.name, count(e)
ORDER BY count(e) DESC
""")

                                  e.name  count(e)
0                                  state        18
1                               treasury        13
2    the environmental protection agency        12
3                                defense        12
4                             washington        11
..                                   ...       ...
133                     the armed forces         1
134                                idaho         1
135      international religious freedom         1
136          the maritime administration         1
137         the internal revenue service         1

[138 rows x 2 columns]

In [44]:
# (TEST) Get the organization entities bernie sanders tweets about the most
run("""
MATCH (s:Senator {name: "Bernie Sanders"})-[tw:Tweeted]->(t:Tweet)-[m:Mentions]->(e:Entity {type: "ORG"})
RETURN e.name, count(e)
ORDER BY count(e) DESC
""")

                          e.name  count(e)
0                       congress        13
1                          texas        11
2                         senate         3
3                         nevada         3
4                     washington         3
5                 the u.s. house         2
6               medicare for all         2
7                      starbucks         2
8                          house         2
9                social security         2
10                  @summerforpa         2
11                         exxon         1
12  the university of california         1
13                   eli lilly's         1
14                     eli lilly         1
15                    vermonters         1
16             the u.s. congress         1
17          the republican party         1
18                      medicaid         1
19                      medicare         1
20               @nextgenamerica         1
21                           uaw         1
22                         local         1
23                         aipac         1

In [45]:
# (TEST) Get the organization entities democrats tweet about the most
run("""
MATCH (s:Senator {party: "republican"})-[tw:Tweeted]->(t:Tweet)-[m:Mentions]->(e:Entity {type: "ORG"})
RETURN e.name, count(e)
ORDER BY count(e) DESC
""")

                                                 e.name  count(e)
0                                                 biden       421
1                                                senate       176
2                                              congress        99
3                                            washington        72
4                                                   gop        47
...                                                 ...       ...
1229                                  air force academy         1
1230                                     28th bomb wing         1
1231  the black hills and badlands tourism associati...         1
1232                                              leo‚Äôs         1
1233       the s.d. national guard enlisted association         1

[1234 rows x 2 columns]

In [46]:
run("""
MATCH (t:Tweet)-[m:Mentions]->(e:Entity)
RETURN e.name, count(e)
ORDER BY count(e) DESC
""")

                       e.name  count(e)
0                       biden      1602
1                       today      1036
2                    american       486
3                   americans       474
4                      senate       443
...                       ...       ...
9807  lawless harley davidson         1
9808          delaware county         1
9809              circleville         1
9810                @karilake         1
9811               @bgmasters         1

[9812 rows x 2 columns]

In [47]:
contributions = pd.read_csv("contributions_with_icpsr.csv")
contributions = contributions.dropna()
contributions["contributor"] = contributions["contributor"].str.lower()
contributions["contributor"] = contributions["contributor"].str.strip()
contributions.to_csv(f"{neo4j_import_dir}/contribution_relationships.csv")

In [48]:
# Load entities for donations/contributors
run("""
LOAD CSV WITH HEADERS FROM "file:///contribution_relationships.csv" as row
MERGE (c:Contributor {name: row.contributor})
""")

run("""
LOAD CSV WITH HEADERS FROM "file:///contribution_relationships.csv" as row
MATCH
  (c:Contributor {name: row.contributor}),
  (s:Senator {id: ToInteger(row.icpsr)})
MERGE (c)-[d:DonatedTo {total: ToInteger(row.total), pac: ToInteger(row.pac), individual: ToInteger(row.individual), race:row.race}]->(s)
""")

Empty DataFrame
Columns: []
Index: []

In [49]:
run("""
MATCH (c:Contributor)-[d:DonatedTo]->(s:Senator)-[tw:Tweeted]->(t:Tweet)
RETURN s.name, sum(d.total), s.party, sum(t.likes)
ORDER BY sum(t.likes) DESC
""")

              s.name  sum(d.total)     s.party  sum(t.likes)
0        Mitt Romney      67813200  republican      22513950
1     Bernie Sanders      19227700       other      20708720
2   Marsha Blackburn     107143100  republican      10153120
3        Marco Rubio      71373542  republican       7192900
4   Elizabeth Warren      85030800    democrat       6564280
..               ...           ...         ...           ...
71    Jeanne Shaheen      84383046    democrat         40280
72      John Boozman      66459381  republican         38100
73        Mike Crapo      62119332  republican         36220
74      Bill Cassidy      58420250  republican         25380
75       John Hoeven      36378200  republican         24220

[76 rows x 4 columns]

### Possible queries to write:

(1) Get the most liked tweet by Bernie Sanders that mentions an event

(2) Get all tweets by Bernie Sanders that mention an organization also mentioned in a rollcall description for which he voted yay on

(3) Get the contributers who supported Senators that voted yes on bills mentioning "the councle of environmental quality"