In [3]:
from glob import glob
import pandas as pd

In [8]:
contribs = pd.read_csv("raw_contributions/COS2.csv")
party_lookup = {
    "D)": "democrat",
    "R)": "republican"
}
def extract_contrib(row):
    firstname = row["FirstLastP"].split(" ")[0].lower()
    lastname = row["FirstLastP"].split(" ")[1].lower()
    party = row["FirstLastP"].split("(")[1]
    party = party_lookup.get(party, "other")
    amount = row["Total"]
    contributor = row["Contrib"]
    return pd.Series({
        "firstname": firstname,
        "lastname": lastname,
        "party": party,
        "amount": amount,
        "contributor": contributor
        })
processed_contribs = contribs.apply(extract_contrib, axis=1)
file = "raw_contributions/COS2.csv"
race = file.split("/")[-1].split(".")[0]
processed_contribs = processed_contribs.assign(race=race)

,firstname,lastname,party,amount,contributor,race
0,cory,gardner,republican,124600,Votesane PAC,COS2
1,cory,gardner,republican,64961,Apollo Global Management,COS2
2,cory,gardner,republican,55979,GEO Group,COS2
3,cory,gardner,republican,51765,Blue Cross/Blue Shield,COS2
4,cory,gardner,republican,50788,Blackstone Group,COS2
5,cory,gardner,republican,44700,Elliott Management,COS2
6,cory,gardner,republican,42666,BGR Group,COS2
7,cory,gardner,republican,34554,NextEra Energy,COS2
8,cory,gardner,republican,34413,"Brownstein, Hyatt et al",COS2
9,cory,gardner,republican,34275,"Paul, Weiss et al",COS2
10,cory,gardner,republican,33600,Lmbi Lp,COS2
11,cory,gardner,republican,33105,Visa Inc,COS2
12,cory,gardner,republican,31562,DISH Network,COS2
13,cory,gardner,republican,30548,Deloitte LLP,COS2
14,cory,gardner,republican,29645,Rock Holdings,COS2
15,cory,gardner,republican,28700,United Launch Alliance,COS2
16,cory,gardner,republican,28593,Xcel Energy,COS2
17,cory,gardner,republican,28224,Bank of America,COS2
18,cory,gardner,republican,26750,Comcast Corp,COS2
19,cory,gardner,republican,26550,NorPAC,COS2
20,john,hickenlooper,democrat,256481,Alphabet Inc,COS2
21,john,hickenlooper,democrat,238166,Democracy Engine,COS2
22,john,hickenlooper,democrat,176333,University of Colorado,COS2
23,john,hickenlooper,democrat,172769,University of California,COS2
24,john,hickenlooper,democrat,159910,J Street,COS2
25,john,hickenlooper,democrat,119505,Microsoft Corp,COS2
26,john,hickenlooper,democrat,105905,Harvard University,COS2
27,john,hickenlooper,democrat,73507,Apple Inc,COS2
28,john,hickenlooper,democrat,71571,Amazon.com,COS2
29,john,hickenlooper,democrat,67202,Walt Disney Co,COS2
30,john,hickenlooper,democrat,66737,US Government,COS2
31,john,hickenlooper,democrat,65025,Facebook Inc,COS2
32,john,hickenlooper,democrat,62390,Stanford University,COS2
33,john,hickenlooper,democrat,57604,AT&T Inc,COS2
34,john,hickenlooper,democrat,56641,Comcast Corp,COS2
35,john,hickenlooper,democrat,51865,Kaiser Permanente,COS2
36,john,hickenlooper,democrat,47436,Liberty Media Corp,COS2
37,john,hickenlooper,democrat,45986,IBM Corp,COS2
38,john,hickenlooper,democrat,43200,Insight Partners,COS2
39,john,hickenlooper,democrat,42569,Colorado State University,COS2
40,bruce,lohmiller,other,0,NaN,COS2
41,gaylon,kent,other,0,NaN,COS2
42,raymon,doane,other,0,NaN,COS2
43,veronique,bellamy,other,0,NaN,COS2
44,joshua,rodriguez,other,0,NaN,COS2
45,joey,camp,other,0,NaN,COS2
46,lisa,garcia,other,0,NaN,COS2
47,martha,wolf,other,0,NaN,COS2
48,daniel,doyle,other,0,NaN,COS2
49,danny,skelly,other,0,NaN,COS2

In [40]:
contribs

,affiliateid,orgid,pacid,cycle,CID,FirstLastP,Contrib,Indivs,Pacs,Total,Rank,CRPICO,ReleaseDate,NetRcpts
0,NaN,D000000113,NaN,2022,N00038397,Maggie Hassan (D),EMILY's List,428722,10000,438722,1,I,2022-10-28 00:00:00 +0000,38340375.03
1,NaN,D000025328,NaN,2022,N00038397,Maggie Hassan (D),Democracy Engine,406471,0,406471,2,I,2022-10-28 00:00:00 +0000,38340375.03
2,NaN,D000052457,NaN,2022,N00038397,Maggie Hassan (D),J Street,135999,0,135999,3,I,2022-10-28 00:00:00 +0000,38340375.03
3,NaN,D000065181,NaN,2022,N00038397,Maggie Hassan (D),Votesane PAC,104000,0,104000,4,I,2022-10-28 00:00:00 +0000,38340375.03
4,NaN,D000067823,NaN,2022,N00038397,Maggie Hassan (D),Alphabet Inc,88779,5000,93779,5,I,2022-10-28 00:00:00 +0000,38340375.03
5,NaN,D000000544,NaN,2022,N00038397,Maggie Hassan (D),Harvard University,91544,0,91544,6,I,2022-10-28 00:00:00 +0000,38340375.03
6,NaN,D000000406,NaN,2022,N00038397,Maggie Hassan (D),University of California,71585,0,71585,7,I,2022-10-28 00:00:00 +0000,38340375.03
7,NaN,NaN,C00797670,2022,N00038397,Maggie Hassan (D),American Israel Public Affairs Cmte,51650,10000,61650,8,I,2022-10-28 00:00:00 +0000,38340375.03
8,NaN,NaN,C00215046,2022,N00038397,Maggie Hassan (D),Fidelity Investments,49201,9000,58201,9,I,2022-10-28 00:00:00 +0000,38340375.03
9,NaN,D000000085,NaN,2022,N00038397,Maggie Hassan (D),Goldman Sachs,42650,10000,52650,10,I,2022-10-28 00:00:00 +0000,38340375.03
10,NaN,D000022121,NaN,2022,N00038397,Maggie Hassan (D),Motley Rice LLC,52291,0,52291,11,I,2022-10-28 00:00:00 +0000,38340375.03
11,NaN,D000021845,NaN,2022,N00038397,Maggie Hassan (D),Apollo Global Management,44725,6400,51125,12,I,2022-10-28 00:00:00 +0000,38340375.03
12,NaN,D000037810,NaN,2022,N00038397,Maggie Hassan (D),State of New Hampshire,50750,0,50750,13,I,2022-10-28 00:00:00 +0000,38340375.03
13,NaN,D000024670,NaN,2022,N00038397,Maggie Hassan (D),Centene Corp,42516,6000,48516,14,I,2022-10-28 00:00:00 +0000,38340375.03
14,NaN,NaN,C00699470,2022,N00038397,Maggie Hassan (D),Pro-Israel America PAC,40800,2500,43300,15,I,2022-10-28 00:00:00 +0000,38340375.03
15,NaN,D000022098,NaN,2022,N00038397,Maggie Hassan (D),Massachusetts Institute of Technology,42548,0,42548,16,I,2022-10-28 00:00:00 +0000,38340375.03
16,NaN,D000000288,NaN,2022,N00038397,Maggie Hassan (D),League of Conservation Voters,33755,7867,41622,17,I,2022-10-28 00:00:00 +0000,38340375.03
17,NaN,D000033047,NaN,2022,N00038397,Maggie Hassan (D),Dartmouth College,40165,0,40165,18,I,2022-10-28 00:00:00 +0000,38340375.03
18,NaN,D000030677,NaN,2022,N00038397,Maggie Hassan (D),University of New Hampshire,38832,0,38832,19,I,2022-10-28 00:00:00 +0000,38340375.03
19,NaN,D000000115,NaN,2022,N00038397,Maggie Hassan (D),Microsoft Corp,33535,5000,38535,20,I,2022-10-28 00:00:00 +0000,38340375.03
20,NaN,NaN,NaN,2022,N00044989,Don Bolduc (R),New England Die Cutting,13540,0,13540,1,C,2022-10-28 00:00:00 +0000,2243795.94
21,NaN,D000033595,NaN,2022,N00044989,Don Bolduc (R),Fast Food Systems,11600,0,11600,2,C,2022-10-28 00:00:00 +0000,2243795.94
22,NaN,NaN,NaN,2022,N00044989,Don Bolduc (R),Los Primos Mexican Restaurant,7000,0,7000,3,C,2022-10-28 00:00:00 +0000,2243795.94
23,NaN,D000037810,NaN,2022,N00044989,Don Bolduc (R),State of New Hampshire,6460,0,6460,4,C,2022-10-28 00:00:00 +0000,2243795.94
24,NaN,D000059619,NaN,2022,N00044989,Don Bolduc (R),Stifel Financial,5940,0,5940,5,C,2022-10-28 00:00:00 +0000,2243795.94
25,NaN,NaN,NaN,2022,N00044989,Don Bolduc (R),Great North Property Management,5900,0,5900,6,C,2022-10-28 00:00:00 +0000,2243795.94
26,NaN,NaN,NaN,2022,N00044989,Don Bolduc (R),Government Affairs Liaison,5800,0,5800,7,C,2022-10-28 00:00:00 +0000,2243795.94
27,NaN,NaN,NaN,2022,N00044989,Don Bolduc (R),Charles & Potomac Capital,5800,0,5800,8,C,2022-10-28 00:00:00 +0000,2243795.94
28,NaN,NaN,NaN,2022,N00044989,Don Bolduc (R),Crescent Investment Group,5800,0,5800,9,C,2022-10-28 00:00:00 +0000,2243795.94
29,NaN,NaN,NaN,2022,N00044989,Don Bolduc (R),Bogen Communications,5800,0,5800,10,C,2022-10-28 00:00:00 +0000,2243795.94
30,NaN,NaN,NaN,2022,N00044989,Don Bolduc (R),Riccio Enterprises,5800,0,5800,11,C,2022-10-28 00:00:00 +0000,2243795.94
31,NaN,NaN,NaN,2022,N00044989,Don Bolduc (R),Sleepnet Corp,5150,0,5150,12,C,2022-10-28 00:00:00 +0000,2243795.94
32,NaN,NaN,C00241380,2022,N00044989,Don Bolduc (R),ArentFox Schiff,5000,0,5000,13,C,2022-10-28 00:00:00 +0000,2243795.94
33,NaN,NaN,NaN,2022,N00044989,Don Bolduc (R),Continental Paving,5000,0,5000,14,C,2022-10-28 00:00:00 +0000,2243795.94
34,NaN,NaN,NaN,2022,N00044989,Don Bolduc (R),Worldwide Language Resources,5000,0,5000,15,C,2022-10-28 00:00:00 +0000,2243795.94
35,NaN,D000000115,NaN,2022,N00044989,Don Bolduc (R),Microsoft Corp,3165,0,3165,16,C,2022-10-28 00:00:00 +0000,2243795.94
36,NaN,NaN,NaN,2022,N00044989,Don Bolduc (R),Morgan Storage,2990,0,2990,17,C,2022-10-28 00:00:00 +0000,2243795.94
37,NaN,NaN,NaN,2022,N00044989,Don Bolduc (R),Messner Reeves,2900,0,2900,18,C,2022-10-28 00:00:00 +0000,2243795.94
38,NaN,NaN,NaN,2022,N00044989,Don Bolduc (R),Nh Leadership Pac,2900,0,2900,19,C,2022-10-28 00:00:00 +0000,2243795.94
39,NaN,D000022157,NaN,2022,N00044989,Don Bolduc (R),Nixon Peabody LLP,2900,0,2900,20,C,2022-10-28 00:00:00 +0000,2243795.94
40,NaN,NaN,NaN,2022,N00050241,Jeremy Kauffman (L),Brennan Appraisal,2200,0,2200,1,C,2022-10-28 00:00:00 +0000,24167.88
41,NaN,NaN,NaN,2022,N00050241,Jeremy Kauffman (L),Gfy LLC,1500,0,1500,2,C,2022-10-28 00:00:00 +0000,24167.88
42,NaN,NaN,NaN,2022,N00050241,Jeremy Kauffman (L),Dempsey Digital LLC,1000,0,1000,3,C,2022-10-28 00:00:00 +0000,24167.88

In [12]:
all_processed_contribs = pd.DataFrame()
for file in glob("raw_contributions/*"):
    contribs = pd.read_csv(file)
    race = file.split("/")[-1].split(".")[0]
    state = race[:2]
    processed_contribs = contribs.apply(extract_contrib, axis=1)
    processed_contribs = processed_contribs.assign(race=race)
    processed_contribs = processed_contribs.assign(state=state)
    all_processed_contribs = pd.concat([all_processed_contribs, processed_contribs])
all_processed_contribs

,firstname,lastname,party,amount,contributor,race,state
0,cory,gardner,republican,124600,Votesane PAC,COS2,CO
1,cory,gardner,republican,64961,Apollo Global Management,COS2,CO
2,cory,gardner,republican,55979,GEO Group,COS2,CO
3,cory,gardner,republican,51765,Blue Cross/Blue Shield,COS2,CO
4,cory,gardner,republican,50788,Blackstone Group,COS2,CO
...,...,...,...,...,...,...,...
38,don,bolduc,republican,2900,Nh Leadership Pac,NHS1,NH
39,don,bolduc,republican,2900,Nixon Peabody LLP,NHS1,NH
40,jeremy,kauffman,other,2200,Brennan Appraisal,NHS1,NH
41,jeremy,kauffman,other,1500,Gfy LLC,NHS1,NH
42,jeremy,kauffman,other,1000,Dempsey Digital LLC,NHS1,NH

In [13]:
senators = pd.read_csv("S117_members.csv")

code_to_party = {100: "democrat", 200: "republican"}
def create_senator(senator):
    name = senator["bioname"]
    node_attrs = {
        "lastname": name.split(",")[0].lower(),
        "firstname": name.split(",")[1].split()[0].lower(),
        "party": code_to_party.get(senator["party_code"], "other"),
        "state": senator["state_abbrev"],
        "icpsr": senator["icpsr"]
    }
    return pd.Series(node_attrs)
senator_nodes = senators.apply(create_senator, axis=1)
senator_nodes

       lastname firstname       party state  icpsr
0         trump    donald  republican   USA  99912
1         biden    joseph    democrat   USA  99913
2    tuberville    thomas  republican    AL  42102
3        shelby   richard  republican    AL  94659
4     murkowski      lisa  republican    AK  40300
..          ...       ...         ...   ...    ...
99      manchin       joe    democrat    WV  40915
100     baldwin     tammy    democrat    WI  29940
101     johnson       ron  republican    WI  41111
102      lummis   cynthia  republican    WY  20953
103    barrasso      john  republican    WY  40707

[104 rows x 5 columns]

In [37]:
def find_icpsr(row):
    #senator = senator_nodes[senator_nodes["firstname"] == row["firstname"]]
    senator = senator_nodes[senator_nodes["lastname"] == row["lastname"]]
    senator = senator[senator_nodes["state"] == row["state"]]

    if len(senator) > 0:
        icpsr = senator.iloc[0].icpsr
    else:
        icpsr = -1
    return icpsr

all_processed_contribs["icpsr"] =  all_processed_contribs.apply(find_icpsr, axis=1)

<ipython-input-37-4d26eddf648c>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  senator = senator[senator_nodes["state"] == row["state"]]

In [38]:
all_processed_contribs[all_processed_contribs["icpsr"] != -1]

,firstname,lastname,party,amount,contributor,race,state,icpsr
20,john,hickenlooper,democrat,256481,Alphabet Inc,COS2,CO,42101
21,john,hickenlooper,democrat,238166,Democracy Engine,COS2,CO,42101
22,john,hickenlooper,democrat,176333,University of Colorado,COS2,CO,42101
23,john,hickenlooper,democrat,172769,University of California,COS2,CO,42101
24,john,hickenlooper,democrat,159910,J Street,COS2,CO,42101
...,...,...,...,...,...,...,...,...
15,maggie,hassan,democrat,42548,Massachusetts Institute of Technology,NHS1,NH,41702
16,maggie,hassan,democrat,41622,League of Conservation Voters,NHS1,NH,41702
17,maggie,hassan,democrat,40165,Dartmouth College,NHS1,NH,41702
18,maggie,hassan,democrat,38832,University of New Hampshire,NHS1,NH,41702
19,maggie,hassan,democrat,38535,Microsoft Corp,NHS1,NH,41702

In [39]:
all_processed_contribs[all_processed_contribs["icpsr"] != -1].to_csv("contributions_with_icpsr.csv")